<a href="https://colab.research.google.com/github/hristinalapanova/data_analytics_2/blob/main/HWDataAnalytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.What is Python and why is it useful?
Python is a general purpose, interpreted, interactive object-oriented and high-level programming language.
#2. Are the following variable names allowed in Python?
a and d are not. No numbers are allowed in the start of a var nambe also no spaces r allowed in a var name.

In [ ]:
var_one="hello there!"
print(var_one)

hello there!

In [ ]:
first_name="tom"
last_name="johnes"
email_extension="@gmail.com"
print(first_name+last_name+email_extension)

tomjohnes@gmail.com

In [ ]:
friend_name="Ash Mesh"
print(friend_name.upper())

ASH MESH

In [ ]:
print(friend_name.lower())

ash mesh

In [ ]:
date=15
print('Do you want to hang out on the '+str(date)+"th of the month?")

Do you want to hang out on the 15th of the month?

#Lists

In [ ]:
fav_shows=['Friends', 'Breaking Bad', 'Mad Men', 'The Office', 'Modern Family']
print(fav_shows)
new_list=sorted(fav_shows)
print(new_list)
print(fav_shows)
print(sorted(fav_shows,reverse=True))
print("I have "+str(len(fav_shows))+" favorite")

['Friends', 'Breaking Bad', 'Mad Men', 'The Office', 'Modern Family']
['Breaking Bad', 'Friends', 'Mad Men', 'Modern Family', 'The Office']
['Friends', 'Breaking Bad', 'Mad Men', 'The Office', 'Modern Family']
['The Office', 'Modern Family', 'Mad Men', 'Friends', 'Breaking Bad']
I have 5 favorite

sorted() vs sort() => sort() modifies the existing list sorted() creates a new list with the sorted values

#Looping

In [ ]:
colors=['red','yellow','green','blue','orange']
for color in colors:
  print(color)

red
yellow
green
blue
orange

In [ ]:
colors=['red','yellow','green','blue','orange']
for color in colors:
  print('This is one of my favorite colors: '+ color)

This is one of my favorite colors: red
This is one of my favorite colors: yellow
This is one of my favorite colors: green
This is one of my favorite colors: blue
This is one of my favorite colors: orange

In [ ]:
for num in range(1,21):
  if num%2==0:
    print(num)

2
4
6
8
10
12
14
16
18
20

In [ ]:
colors=['red','yellow','green','blue','orange']
for color in colors:  
  colors.sort()
  print(colors)
  break

['blue', 'green', 'orange', 'red', 'yellow']

In [ ]:
colors=['red','yellow','green','blue','orange']
for color in colors:
  print(colors[:3])
  break

['red', 'yellow', 'green']

In [ ]:
colors=['red','yellow','green','blue','orange']
for color in colors:
  print(colors[-2:])
  break

['blue', 'orange']

#If-ELIF-else statements

In [ ]:
usernames=['admin','user1','user2','user3','user4','user5']
for username in usernames:
  if username=='admin':
    print('Hello MR/Mrs Administrator!')
  else:
    print('Hello user!')

Hello MR/Mrs Administrator!
Hello user!
Hello user!
Hello user!
Hello user!
Hello user!

In [ ]:
nums=[1,2,3,4,5,6,7,8,9,10]
for num in nums:
  print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
nums=[1,2,3,4,5,6,7,8,9,10]
for num in nums:
  if num==1:
    print(str(num)+"st")
  elif num==2:
    print(str(num)+'nd')
  elif num==3:
    print(str(num)+'rd')
  else:
    print(str(num)+'th')

1st
2nd
3rd
4th
5th
6th
7th
8th
9th
10th

#Odd or even

In [ ]:
num=input("Pick a number: ")
if int(num)%2==0:
  print("even")
else:
  print('odd')

Pick a number: 3
odd

In [ ]:
num=input("Pick a number: ")
if int(num)%4==0:
  print('divisible by 4!')
else:
  print('not divisible by 4!')

Pick a number: 5
not divisible by 4!

In [ ]:
num=input("Pick a number: ")
check=input('Divide by: ')
if int(num)%int(check)==0:
  print('Divides evenly!')
else:
  print('Does not divide evenly!')

Pick a number: 20
Divide by: 5
Divides evenly!

#Rock Paper Scossors

In [49]:
#while player1 or player2 !='quit':
active= True
while active:
  player1=input('Pick rock, paper or scissors!')
  player2=input('Pick rock, paper or scissors!')
  if player1=='rock' and player2=="scissors":
    print('Player1 wins!')
  elif player1=="paper" and player2=="rock":
    print('player1 wins!')
  elif player1=="scissors" and player2=="paper":
    print('Player1 wins!')
  else:
    print('Player2 wins!!!')
  if player1=='quit' and player2 =='quit':
    active=False

Pick rock, paper or scissors!paper
Pick rock, paper or scissors!scissors
Player2 wins!!!
Pick rock, paper or scissors!quit
Pick rock, paper or scissors!quit
Player2 wins!!!


#Dictionaries

In [20]:
person={'first_name':'Milly',
        'last_name':'May'}
print(person)
print("Hello "+person['first_name']+' '+person['last_name'])

{'first_name': 'Milly', 'last_name': 'May'}
Hello Milly May

In [25]:
person2={'first_name':'Bill',
         'second_name':'Clinton'}
for key,value in person2.items():
  print(key)
  print(value)

first_name
Bill
second_name
Clinton

In [46]:
travel_destinations={
    'Beach':{'Caribbean':'Jamaica','USA':'Miami','Asia':'Bora Bora'},
    'Mountain':{'USA':'Colorado','Europe':'Austria','South America':'Peru'},
    'City':{'USA':'New York','Europe':'Paris','Asia':'Tokyo'}
}
for key,value in travel_destinations.items():
  if key=='Beach':
    print('If you want to go to a beach destination you should consider '+str(travel_destinations['Beach']))
  elif key=="Mountain":
    print('If you want to go to a mountain destination you should consider '+str(travel_destinations['Mountain']))
  elif key=='City':
    print('If you want to go to a beach destination you should consider '+str(travel_destinations['City']))

If you want to go to a beach destination you should consider {'Caribbean': 'Jamaica', 'USA': 'Miami', 'Asia': 'Bora Bora'}
If you want to go to a mountain destination you should consider {'USA': 'Colorado', 'Europe': 'Austria', 'South America': 'Peru'}
If you want to go to a beach destination you should consider {'USA': 'New York', 'Europe': 'Paris', 'Asia': 'Tokyo'}

#Unit 3- Advanced Python

In [3]:
import numpy as np
#Dataset from summer Olympic London, year 2012
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])
highest = np.where(np_olympic_country_Gold== np.max(np_olympic_country_Gold))
print('Max number of gold medals',np.max(np_olympic_country_Gold ))
print('index number of maximum element (gold medals) :', highest[0])
print('The country with Max number of gold medals is:',np_olympic_country[highest])
more_than_20_medals=np_olympic_country_Gold >20
print(more_than_20_medals)
np_olympic_country_Gold[more_than_20_medals]
x = np.where(np_olympic_country_Gold >20)

print('the countrieas with more than 20 medals are:',np_olympic_country[x])
#Find countrieas with more than 20 gold metals
import numpy as np
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
more_than_20_medals=np_olympic_country_Gold >20
print(more_than_20_medals)
np_olympic_country_Gold[more_than_20_medals]
x = np.where(np_olympic_country_Gold >20)

print(x)

Max number of gold medals 46
index number of maximum element (gold medals) : [3]
The country with Max number of gold medals is: ['US']
[ True  True  True  True False False False]
the countrieas with more than 20 medals are: ['GBR' 'China' 'RUS' 'US']
[ True  True  True  True False False False]
(array([0, 1, 2, 3]),)